---
import { Icon } from "astro-icon/components";
---

<footer class="bg-white">
  <div
    class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="flex justify-center gap-x-6 md:order-2">
      <a
        href="https://linkedin.com/in/neallepage"
        class="text-gray-600 hover:text-gray-800"
      >
        <Icon name="linkedin" class="w-6 h-6" />
        <span class="sr-only">X</span>
      </a>
      <a
        href="https://x.com/pageboy_za"
        class="text-gray-600 hover:text-gray-800"
      >
        <Icon name="x" class="w-6 h-6" />
        <span class="sr-only">X</span>
      </a>
      <a
        href="https://github.com/pageboy-za"
        class="text-gray-600 hover:text-gray-800"
      >
        <Icon name="github" class="w-6 h-6" />
        <span class="sr-only">GitHub</span>
      </a>
    </div>
    <p class="mt-8 text-center text-sm/6 text-gray-600 md:order-1 md:mt-0">
      &copy; 2025 Nealle Page. All rights reserved.
    </p>
  </div>
</footer>
